# Copyright 2025 Nana Sakisaka
# Distributed under the Boost Software License, Version 1.0.
# https://www.boost.org/LICENSE_1_0.txt
---
Checks: '
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -objc-*,
  -zircon-*,
  -linuxkernel-*,
  -modernize-use-nodiscard,
  -cppcoreguidelines-special-member-functions,
  -clang-diagnostic-inconsistent-missing-destructor-override,
  -clang-diagnostic-switch-enum,
  -llvm-prefer-static-over-anonymous-namespace
'

CheckOptions:
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
